[Unit]
Description=app.aqua360-sign backend socket

[Socket]
ListenStream=/run/app_aqua360_sign_backend.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
